<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <!-- Stylesheets go here! -->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css ">
    <link rel="stylesheet" href="stylesheets/tripplanner.css ">

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="navbar-header">TripPlanner</div>
    </nav>


    <div class="content">
    {% block content %}
    {% endblock %}
    </div>

    <p>"Let's plan our trip"</p>

    <!-- Script tags go here! -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSH6fPbkl-YDCahjJizYLH26B3SGSmybU&sensor=true"></script>
    <script src="/js/gmap.js"></script>
  </body>
</html>
